PORT=
CORS_ORIGIN=

# Database
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

# JWT
JWT_SECRET=
ADMIN_JWT_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Support Info
SUPPORT_EMAIL=
SUPPORT_PHONE=
